# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Environments
.venv/
env/
venv/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log
Arxiv-Bot-for-hepth/bot.log


hello-api-requests-vasu17/
i-vasu17/
